body {
    background: #eecda3; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #ef629f,
        #eecda3
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #ef629f,
        #eecda3
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.title {
    color: black;
}

.user {
    font-size: 20px;
}

.password {
    font-size: 20px;
}
